<h1>Suggestions to Give Some Happiness!</h1>
<br />
<div class="row">
	<div class="span9">
		<p>Yana really is a great little girl and it's such a pleasure to see her face light up when she plays. Here are some 
			suggestions for gifts if you would like to give some happiness! Of course, you are welcome to find your own ideas, and send anything you think she would enjoy. We will include a photo of Yana with her new gift on this page as soon as she receives it (and remove the link here to avoid duplicate gifts).</p>
		<p>When checking out at Amazon.com, please use the following address to ship to Yana (or create a care-package yourself!):<br />
			Yana Lepeikina<br />
			ulitsa Mayskaya 4B flat 20<br />
			poselok Zhasminnuy<br />
			Saratov, Russia 410507 <br />
			OR (in Russian)<br />
			410507 г.Саратов пос.<br />
			Жасминный ул. Майская 4В кв 20<br />
			Лепейкиной Олесе Андреевне
		<ul class="thumbnails">
			<li>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thgoli08f-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B002YL4856" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
			</li>
			<li>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thgoli08f-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B000N56U88" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
			</li>
			<li>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thgoli08f-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B005VDU4TS" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
			</li>
			<li>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thgoli08f-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B0042ESFMK" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
			</li>
			<li>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thgoli08f-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B002PU9JAA" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
			</li>
			<li>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thgoli08f-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B001H0B0C4" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
			</li>
			<li>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thgoli08f-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B003ADVR3S" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
			</li>
			<li>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thgoli08f-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B000N1NDFK" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
			</li>
			<li>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thgoli08f-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B004PBHQO8" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
			</li>
			<li>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thgoli08f-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B003QHU9O6" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
			</li>
			<li>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thgoli08f-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B002SQE8QQ" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
			</li>
		</ul>
	</div>
</div>
