<h1>Send Yana a Letter</h1>
<p>Yana is really grateful for all the support she has already received. She really hopes that she will grow up and help others too.
   One of her favorite things is to receive letters and packages in the mail! (don't we all?) So, if you would like to send her a personal letter, feel free to send one to her address located on the Gift Some Happiness page.</p>
   <p>If you would like to send an email, or electronic card, she would love that too!. You can use popular websites like:</p>
   <a href="http://www.bluemountain.com/" target="_blank" style="color:white">Blue Mountain Greeting Cards</a><br />
   <a href="http://www.123greetings.com/" target="_blank" style="color:white">123 Greetings</a><br />
   Or look around and find something new and exciting!!<br />
   You can send electronic mail and cards like the ones above to her at: <a href="mailto:olesyalepeikina@gmail.com" style="color:white">Yana Lepeikina email</a>
   Yana thanks you, and sends many smiles for your day!
